.first{
    font-size: 16pt;
    font-style: italic;
}

.second{
    font-size: 14pt;
    font-style: normal ;
    color: rgb(12, 136, 64)
}
.third{
    font-size: 16pt;
    font-style: italic;
}
.sect{
    list-style-type: none;

}